
@font-face{font-family: 'Justus';src: url('Justus.ttf');}
@font-face{font-family: 'Helvetica';src: url('Helveticaa.ttf');}
@font-face{font-family: 'HelveticaLight';src: url('HelveticaLight.ttf');}
@font-face{font-family: 'HelveticaNeueBold';src: url('HelveticaNeueBold.ttf');}


#masthead{margin-bottom: 30px;}
#masthead .top-strip{height: 50px; background: #000; margin: 0 auto; width: 1050px;position: fixed; z-index: 1000; left: 0; right: 0;}
#masthead .top-strip .left{float: left; height: 50px;}
#masthead .top-strip .logo{float: left; text-align: left; height: 50px; border-right: 2px solid #FFF; }
#masthead .top-strip .logo img{margin: 12px 24px;}
#masthead .top-strip ul.icon-menu{list-style: none; height: 50px; line-height: 50px;  border-right: 2px solid #FFF; float: left; padding-right: 20px;}
#masthead .top-strip ul.icon-menu:before{content: none;}
#masthead .top-strip ul.icon-menu li{display: inline; margin-left: 20px; }
#masthead .top-strip .contact_link{float: left; height: 50px; line-height: 50px; color: #FFF; text-decoration: none; padding: 0 20px; border-right: 2px solid #FFF;font-family: 'Helvetica', arial; font-size: 12px;}
#masthead .top-strip .search-form{float: left; height: 50px; line-height: 45px; padding: 0 20px; border-right: 2px solid #FFF;}
#masthead .top-strip .search-form .search-input{height: 20px; width: 65px; margin-top: 15px; font-size: 12px; background: #000; color: #999; border: none; padding: 0;} 
#masthead .top-strip .search-form .search-input:focus{outline: none;}
#masthead .top-strip .search-form input[type=submit].submit{background: url(icone_recherche.png) no-repeat; height: 0; width: 0; border: none; margin: 0; padding: 12px;}
#masthead .top-strip .newsletter{position: absolute; height: 30px; width: 140px; background: #000; right: 2%; bottom: -30px; color: #FFF; text-align: center;}
#masthead .top-strip .newsletter span{text-transform: uppercase; font-size: 11px; cursor: pointer;}
#masthead .top-strip .newsletter .cover{padding: 15px 0; ; background: #000; display: none;}
#masthead .top-strip .newsletter .cover img{max-height: 140px; max-width: 140px;}



#masthead .top-strip .right{float: right; height: 50px; line-height: 45px;}
#masthead .top-strip .right ul.menu-right{list-style: none; height: 50px; line-height: 50px; float: left; margin: 0; padding: 0;}
#masthead .top-strip .right ul.menu-right li{display: inline; height: 50px; float: left; margin:0 15px; padding: 0 5px;}
#masthead .top-strip .right ul.menu-right li a{font-size: 12px; color: #fff; text-decoration: none;}
#masthead .top-strip .right ul.menu-right li.sep{border-right: 2px solid #fff; margin: 10px 0; height: 30px;}
#masthead .top-strip .right ul.menu-right li.connexion{position: relative;}
#masthead .top-strip .right ul.menu-right li.connexion.bgwhite{background: #fff;}
#masthead .top-strip .right ul.menu-right li.connexion.bgwhite a{color: #000;}
#masthead .top-strip .right ul.menu-right li.connexion .box{padding: 10px; height: 160px; width: 140px; background: #FFF; border: 1px solid #000; position: absolute; left: -1px; bottom: -180px; border-top: none; z-index: 1000; display: none; line-height: 12px;}
#masthead .top-strip .right ul.menu-right li.connexion:hover{background: #fff;}
#masthead .top-strip .right ul.menu-right li.connexion:hover a{color: #000};

#masthead .top-strip .right ul.menu-right li.connexion .box label{font-size: 12px !important; color: #000 !important; margin: 0 !important;}
#masthead .top-strip .right ul.menu-right li.connexion .box .input{font-size: 12px; height: 18px; border: 1px solid #000;}
#masthead .top-strip .right ul.menu-right li.connexion .box p{margin: 10px 0; font-size: 12px; color: #000; font-family: 'Helvetica', arial;}
#masthead .top-strip .right ul.menu-right li.connexion .box p a{font-size: 12px; color: #666; font-family: 'Helvetica', arial;}
#masthead .top-strip .right ul.menu-right li.connexion .box .btn{height: 18px; border: none; background: #000; color: #fff; font-size: 12px;}


#masthead #branding{margin-top: 80px;}

.top-banner{height: 90px;width: 720px; border: 1px solid #000; display: block;}


#masthead .main-menu{border-bottom: 1px solid #000;}
#masthead .main-menu .sub-menu {border-top-color: #000;}
#masthead .main-menu ul li a{font-family: "Justus", Times, serif;font-size: 18px;}
#masthead .main-menu > ul > li.sub-hover > a:after{border-color:transparent transparent #000;}

.posts-slider { margin-bottom: 30px; }

.posts-slider .flex-direction-nav a i{display: none;}
.posts-slider .flex-direction-nav a.flex-next{background: url(gauche.png) no-repeat; border: none; padding-right:3px; padding-bottom: 3px; }
.posts-slider .flex-direction-nav a.flex-prev{background: url(droite.png) no-repeat; border: none; padding-right:3px; padding-bottom: 3px; }


.grids.masonry-layout.entries.masonry article.post{height: 450px;}
.entries article .entry-image{height: 300px;}
.entry-summary p{height: 100px; text-align: justify; font-size: 14px;font-family: 'Helvetica', arial; color: #000;}
article.post h2.entry-title{text-transform: none; text-align: left; margin-bottom: 0; padding-bottom: 0; font-family: 'Justus'; font-size: 20px;}
article.post .entry-meta{text-transform: none; text-align: left; font-size: 16px;}
article.post .entry-meta a{text-decoration: none; color:#BBB;font-family: 'HelveticaNeueBold';}


aside.sidebar{background: #000; margin-bottom: 20px;}
aside.sidebar .widget .side-banner{height: 250px;width: 250px;margin: auto;border: 1px solid #FFF;}
.sidebar #searchform{background: #fff;}
aside.sidebar .widget{border-top: 1px solid #fff;}
aside.sidebar .widget .textwidget{color: #fff;}
aside.sidebar .widget h3{color: #FFF; font-size: 18px; margin-bottom: 10px;font-family: 'Helvetica', arial; text-transform: none; letter-spacing: 1px;}

aside.sidebar .widget .newsletter-email{width: 85%;color: #8c919b;
outline: none;
font-size: 12px;
font-family: 'Lato', Arial, Verdana, 'Helvetica Neue', Helvetica, sans-serif;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.2em;}
aside.sidebar .widget .newsletter-bouton{height: 37px; width: 13%; border: 1px solid #999; background: #111; color: #FFF; font-weight: bold;}

.flexslider ul.slides li header.slide-content{position: absolute; bottom: 12%; right: 8%; height: 25%; width: 60%; background: #E5E5E5; opacity: 0.9; padding: 10px;}
.flexslider ul.slides li header.slide-content h3{font-size: 50px; color: #000; font-family: "Justus", Times, serif;}
.flexslider ul.slides li header.slide-content p{font-size: 16px; color: #222; font-family: 'Helvetica', sans-serif;}

.featured-posts header.section-header h2.title{border-top: 1px solid #000; border-bottom: 1px solid #000; padding: 20px 0; text-transform: none; font-family:  "Justus", Times, serif;}

section.featured-posts{border-bottom: 1px solid #000;}
section.featured-posts.no-border{border:none; margin-top: 50px;}

.single .entry-content h3.reagir{color:#FFF; background: #222; font-size: 16px; padding: 3px 10px; margin:0;-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;text-transform: uppercase;}

footer#ffd-footer{width: 1050px; margin: auto; height: 60px; background: #000;position: relative;}
#ffd-footer .totop{position: absolute; width: 15px; height: 15px; top: -15px; right:-15px; cursor: pointer; background: url(btt.png) no-repeat; }
#ffd-footer ul.footer-menu{list-style: none; margin: 0; padding: 0; position: absolute; left: 15px; top: 10px;}
#ffd-footer ul.footer-menu li{display: inline; margin-right: 10px;}
#ffd-footer ul.footer-menu li a{color: #fff; text-decoration: none; font-size: 11px; font-family: 'Helvetica', sans-serif;}
#ffd-footer .copy{margin: 0; padding: 0; position: absolute; left: 15px; bottom: 5px; font-size: 9px; color: #999;}

#ffd-footer ul.icon-menu{list-style: none; position: absolute; top: 10px; right: 15px;}
#ffd-footer ul.icon-menu:before{content: none;}
#ffd-footer ul.icon-menu li{display: inline; margin-left: 10px; }
#ffd-footer ul.icon-menu li img{border: none; max-height: 12px; max-width: 12px;}



#content .wrapper .home-section.latest-posts{margin-top: 30px;}

/****************************** Article Style ******************************/
section#content article header h1.single-title{font-family: 'Justus', Times, serif; font-size: 50px; text-transform: none; margin-bottom: 0;}
section#content article header.wrapper{border-bottom: 1px solid #000; padding-bottom: 30px; margin-bottom: 30px;}
section#content article header.entry-header{border-bottom: none; margin-bottom: 5px;}
section#content article header .entry-meta{font-family: 'Helvetica', sans-serif;letter-spacing:2px;}
section#content article header .entry-center{text-align: center;}
section#content article header .entry-meta .entry-author{text-transform: uppercase;}
section#content article header .entry-meta .entry-category a{letter-spacing:0;}
section#content article .single-box.entry-content{font-family: 'Helvetica', sans-serif; text-align: justify;}
section#content article .single-box.nav-single{border-top: none; border-bottom: none; width: 65%; margin: auto; padding: 20px; margin-bottom: 20px;}
section#content article .single-box.nav-single span.sep{border-left: 2px solid #999; top: 25%; height: 50%;}
section#content article .single-box.nav-single span.sub-title{text-transform: none; font-size: 24px;font-family: 'HelveticaLight', sans-serif;letter-spacing:0px; color: #888;}
hr.hr-nav{border: none; border-top: 1px solid #000;}
section#content article .single-box.nav-single i.icon-chevron-right{background: url(next-article.png) no-repeat; width: 34px; height: 50%; top: 46%;}
section#content article .single-box.nav-single i.icon-chevron-left{background: url(prev-article.png) no-repeat; width: 34px; height: 50%; top: 46%;}
section#content article .single-box.nav-single i:before{content:none;}

section#content header.entry-header{border-bottom: 1px solid #000; padding-bottom: 0px; margin-bottom: 30px;}
section#content header.entry-header h1.entry-title.page-title{text-transform: none; font-family: 'Justus', Times, serif; letter-spacing: 0;}


section#content article table.contact-tab td{vertical-align: middle; background: #FFF;}
section#content article table.contact-tab td.ctn{padding-left: 20px;}
section#content article table.contact-tab td.ctn p{font-size: 18px;} 
#form-area{background: #F1F1F2; width: 94%; margin: 30px 0; padding: 3%;}
#form-area .form-contact{width: 49%; float: left;}
#form-area .map-contact{width: 49%; float: right;}
#form-area .form-contact table{width: 90%;}
#form-area .form-contact table input[type="text"]{width: 100%;border: 1px solid #000; height: 20px; font-size: 12px; padding: 0 5px;}
#form-area .form-contact table label{margin: 10px; font-family:'Helvetica', Helvetica, sans-serif; font-size: 14px;}
#form-area .form-contact table td{background: #F1F1F2; padding-bottom: 20px;}
#form-area .form-contact table .area{width: 100%; height: 160px; background: #FFF; border: 1px solid #000; position:relative;}
#form-area .form-contact table .area textarea{width: 100%;border: none; font-size: 12px; padding: 5px; height: 80%;}
#form-area .form-contact table .area .button{position: absolute; bottom: 5px; right: 5px; border: none; background: #000; padding: 3px; color: #FFF; font-size: 10px;font-family: 'Helvetica', sans-serif;}
#form-area .map-contact p.address{margin: 0; padding: 0; text-align: justify; font-size: 14px; font-family:'Helvetica', Helvetica, sans-serif; margin-bottom: 20px;}
#form-area .map-contact #map-canvas{width: 100%; height: 145px; margin-top: 10px;}
#form-area .erreur{color:red; font-size: 12px; margin: 15px 10px;}
#form-area .succes{color:green; font-size: 12px; margin: 15px 10px;}


.list_carousel {margin: 30px auto;	width: 690px;}
.list_carousel ul {margin: 0; padding: 0; list-style: none; display: block;}
.list_carousel li {font-size: 40px;	color: #999; text-align: center; background-color: #eee; width: 210px;  padding: 0; margin-right: 20px; display: block; float: left;}
.list_carousel li table td{background: #fff; padding-bottom: 20px;}
.list_carousel.responsive { width: auto; margin-left: 0;}
.prev {
	float: left;
	margin-left: 10px;
}
.next {
	float: right;
	margin-right: 10px;
}
.pager {
	float: left;
	width: 300px;
	text-align: center;
}
.pager a {
	margin: 0 5px;
	text-decoration: none;
}
.pager a.selected {
	text-decoration: underline;
}

@media only screen and (max-width: 1049px) {
	footer#ffd-footer{width: 90%;}
}