@font-face{font-family: 'Justus';src: url('Justus.ttf');}
@font-face{font-family: 'HelveticaNeue';src: url('Helvetica.ttf');}
@font-face{font-family: 'HelveticaLight';src: url('HelveticaLight.ttf');}
@font-face{font-family: 'HelveticaNeueBold';src: url('HelveticaNeueBold.ttf');}

#masthead{margin-bottom: 30px;}
#masthead .top-strip{height: 50px; background: #000; margin: 0 auto; width: 1050px;}
#masthead .top-strip .left{float: left; height: 50px;}
#masthead .top-strip .logo{float: left; text-align: left; height: 50px; border-right: 2px solid #FFF; }
#masthead .top-strip .logo img{margin: 12px 24px;}
#masthead .top-strip ul.icon-menu{list-style: none; height: 50px; line-height: 50px;  border-right: 2px solid #FFF; float: left; padding-right: 20px;}
#masthead .top-strip ul.icon-menu:before{content: none;}
#masthead .top-strip ul.icon-menu li{display: inline; margin-left: 20px; }
#masthead .top-strip .contact_link{float: left; height: 50px; line-height: 50px; color: #FFF; text-decoration: none; padding: 0 20px; border-right: 2px solid #FFF;font-family: 'Helvetica', arial;}
#masthead .top-strip .search-form{float: left; height: 50px; line-height: 50px; padding: 0 20px; border-right: 2px solid #FFF;}
#masthead .top-strip .search-form .search-input{height: 20px; width: 100px; margin-top: 15px; font-size: 12px; background: #000; color: #999; border: none; padding: 0;} 
#masthead .top-strip .search-form .search-input:focus{outline: none;}

#top-ads{height: 90px;width: 720px;	border: 1px solid #000;}


#masthead .main-menu{border-bottom: 1px solid #000;}
#masthead .main-menu .sub-menu {border-top-color: #000;}
#masthead .main-menu ul li a{font-family: "Justus", Times, serif;font-size: 18px;}
#masthead .main-menu > ul > li.sub-hover > a:after{border-color:transparent transparent #000;}

.posts-slider { margin-bottom: 30px; }

.posts-slider .flex-direction-nav a i{display: none;}
.posts-slider .flex-direction-nav a.flex-next{background: url(gauche.png) no-repeat; border: none; padding-right:3px; padding-bottom: 3px; }
.posts-slider .flex-direction-nav a.flex-prev{background: url(droite.png) no-repeat; border: none; padding-right:3px; padding-bottom: 3px; }


.grids.masonry-layout.entries.masonry article.post{height: 450px;}
.entries article .entry-image{height: 300px;}
.entry-summary p{height: 100px; text-align: justify; font-size: 14px;font-family: 'Helvetica', arial; color: #000;}
article.post h2.entry-title{text-transform: none; text-align: left; margin-bottom: 0; padding-bottom: 0; font-family: 'Justus'; font-size: 20px;}
article.post .entry-meta{text-transform: none; text-align: left; font-size: 16px;}
article.post .entry-meta a{text-decoration: none; color:#BBB;font-family: 'HelveticaNeueBold';}


aside.sidebar{background: #000;}
aside.sidebar .widget .side-banner{height: 250px;width: 250px;margin: auto;border: 1px solid #FFF;}
.sidebar #searchform{background: #fff;}
aside.sidebar .widget{border-top: 1px solid #fff;}
aside.sidebar .widget .textwidget{color: #fff;}
aside.sidebar .widget h3{color: #FFF; font-size: 18px; margin-bottom: 10px;font-family: 'Helvetica', arial; text-transform: none; letter-spacing: 1px;}

aside.sidebar .widget .newsletter-email{width: 85%;color: #8c919b;
outline: none;
font-size: 12px;
font-family: 'Lato', Arial, Verdana, 'Helvetica Neue', Helvetica, sans-serif;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.2em;}
aside.sidebar .widget .newsletter-bouton{height: 37px; width: 13%; border: 1px solid #999; background: #111; color: #FFF; font-weight: bold;}

.flexslider ul.slides li header.slide-content{position: absolute; bottom: 12%; right: 8%; height: 25%; width: 60%; background: #E5E5E5; opacity: 0.9; padding: 10px;}
.flexslider ul.slides li header.slide-content h3{font-size: 50px; color: #000; font-family: "Justus", Times, serif;}
.flexslider ul.slides li header.slide-content p{font-size: 16px; color: #222; font-family: 'Helvetica', sans-serif;}

.featured-posts header.section-header h2.title{border-top: 1px solid #000; border-bottom: 1px solid #000; padding: 20px 0; text-transform: none; font-family:  "Justus", Times, serif;}

section.featured-posts{border-bottom: 1px solid #000;}
section.featured-posts.no-border{border:none; margin-top: 50px;}

.single .entry-content h3.reagir{color:#FFF; background: #222; font-size: 16px; padding: 3px 10px; margin:0;-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;text-transform: uppercase;}

footer#ffd-footer{width: 1050px; margin: auto; height: 60px; background: #000;position: relative;}
#ffd-footer .totop{position: absolute; width: 15px; height: 15px; top: -15px; right:-15px; background: #000;}



/****************************** Article Style ******************************/
section#content article header h1.single-title{font-family: 'Justus', Times, serif; font-size: 50px; text-transform: none; margin-bottom: 0;}
section#content article header.wrapper{border-bottom: 1px solid #000; padding-bottom: 30px; margin-bottom: 30px;}
section#content article header .entry-meta{font-family: 'Helvetica', sans-serif;letter-spacing:2px;}
section#content article header .entry-center{text-align: center;}
section#content article header .entry-meta .entry-author{text-transform: uppercase;}
section#content article header .entry-meta .entry-category a{letter-spacing:0;}
section#content article .single-box.entry-content{font-family: 'Helvetica', sans-serif; text-align: justify;}
section#content article .single-box.nav-single{border-top: none; border-bottom: none; width: 65%; margin: auto; padding: 20px; margin-bottom: 20px;}
section#content article .single-box.nav-single span.sep{border-left: 2px solid #999; top: 25%; height: 50%;}
section#content article .single-box.nav-single span.sub-title{text-transform: none; font-size: 24px;font-family: 'HelveticaLight', sans-serif;letter-spacing:0px; color: #888;}
hr.hr-nav{border: none; border-top: 1px solid #000;}
section#content article .single-box.nav-single i.icon-chevron-right{background: url(next-article.png) no-repeat; width: 34px; height: 50%; top: 46%;}
section#content article .single-box.nav-single i.icon-chevron-left{background: url(prev-article.png) no-repeat; width: 34px; height: 50%; top: 46%;}
section#content article .single-box.nav-single i:before{content:none;}
